html {
  font-size: 16px;
}

.app {
  background-color: #c4cdd611;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list-group-item {
  background-color: #adb5bd11;
}

.device-window {
  background-color: #adb5bd11;
}

.icon {
  color: #17a4c0;
  font-size: 150%;
}

.icon-github {
  color: black;
}

.device-window-container {
  padding: 25% 0;
}

footer > p:first-child {
  margin-top: 1.5rem;
}

footer > p:nth-child(2) {
  margin-bottom: 2rem;
}
